:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  --neutral-blue-100: hsl(225, 100%, 98%);
  --neutral-blue-400: hsl(224, 23%, 55%);
  --neutral-blue-900: hsl(223, 47%, 23%);
}
